body {
  text-align: center;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border: 1px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 15px;
}

nav{
  display: flex!important;
  color: white;
  padding: 30px;
  background-color: #8B0072;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

nav img{
  height: 50px;
  margin-right: 15px;
}

form{
          display: inline-block;
    margin-left: 25%;
    margin-right:25%;
  width: 50%;
  margin-top: 50px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

form button{
  background-color: #8B0072!important;
}

.thanks{
  margin: 50px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}