<!DOCTYPE html>
<html>

<head>
  <title>CHAT-API</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg"> 
        <a href="/"><img src="images/logo.png"></a>
        <h1>✘ tí</h1>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="twilio">Twilio<span class="sr-only">Twilio</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="chat-api">Chat-API<span class="sr-only">Chat-API</span></a>
            </li>
        </ul>
    </nav>
  <div>
    <h1>CHAT-API</h1>
    <p>Aquí aparecerán cosas de chat-api</p>

    <form action="/submit-chat-api" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Número de teléfono</label>
        <input type="number" class="form-control" id="exampleInputPassword1" aria-describedby="phoneHelp" name="phone">
        <small id="phonehelp" class="form-text text-muted">Nunca compartiremos tus datos.</small>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">Quiero recibir mi billete y avisos de mi viaje</label>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Recibir billete + Avisos</button>
    </form>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>