<!DOCTYPE html>
<html>

<head>
  <title>RENFE X TÍ</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="/"><img src="images/logo.png" href="/"></a>
    <h1> x TÍ</h1>
  </nav>
  <div class="thanks">
    <h1>¡Gracias por tu tiempo!</h1>
    <p>Recibirás tu mensaje por Whatsapp en unos segundos.</p>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>